body {
    max-width: fit-content;
    background-image: url(./image/undraw_bug_fixing_oc7a.png);
    background-repeat: no-repeat;

}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: space-between;
    /* border: solid; */
    width: 147%;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 80px;
    /* border: solid; */
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 30px;
    /* border: solid red; */

}

.home>button {
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border: #ff611e solid 1px;
    margin-bottom: 26px;
    font-size: 14px;

}

button:hover {
    background-color: #ff611e;
    color: white;

}

.home {
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: relative;
    right: 60px;
    /* border: solid; */
}


/* ///////////// */
.main_div {
    /* border: solid red; */
    display: flex;
    height: 550px;
    width: 140%;
    gap: 70px;
    margin-top: 30px;
    /* border: solid red; */
    position: relative;
    left: 185px;

}

.right_div {
    width: 40%;
    height: 500px;
    /* box-shadow: 1px 1px 3px 1px rgb(232, 232, 232);
    */
    /* border: solid green; */
    background-color: transparent;
}

.left_div {
    width: 60%;
    height: 500px;
    /* border: solid pink; */
}

.gif {
    width: 200px;
    border-radius: 50%;
    position: relative;
    top: 180px;
    left: 290px;
}

.gif:hover {
    rotate: 1 2 1 30deg;


    transition: 5s;

}

.down_img_div {
    display: flex;
    border: solid rgb(255, 255, 255) 4px;
    width: 350px;
    height: 350px;
    margin: auto;
    border-radius: 15px;

}

.down_img_div:hover {
    filter: sepia(9);
    rotate: 360deg;
    transition: 5s;
}

.down_img {
    width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 5px 17px 7px rgb(96, 96, 96);

}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 23px;
    line-height: 50px;
    text-shadow: 2px 2px 8px #4c4c4c;
    color: #000000;

}

.logo {
    width: 80px;

}

h1>span:hover {
    background-color: #ff7b42;
    box-shadow: 2px 5px 29px 3px rgb(96, 96, 96);
    transition: 1s;
}